.comments {
  &__item {
    display: flex;
    flex-direction: column;

    &__name {
      font-weight: 700;
    }

    &__email {
      font-weight: 600;
    }
  }

  &__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;

    & > div {
      display: flex;
      align-content: center;
      margin-bottom: 5px;

      label {
        font-weight: 600;
        margin-right: 5px;
      }
    }
  }
}
